<% if model.errors.any? %>
  <div class="table-danger p-2">
    <ul class="list-unstyled">
      <% model.errors.full_messages.each do |message| %>
        <li class='my-0'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>