
/* リセットCSS */
* {
    box-sizing: border-box;
    -webkit-appearance: none;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
    margin: 0;
    padding: 0;
}

h1,
h2{
    font-weight: normal;
    text-shadow: 0 0 1px black;
}

body {
    color: #3b4043;
}


li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #3b4043;
}

.content__body {
    padding: 100px 20px 15px;
    background-color: #CECFC0;
}