<div class="my-2 card col-sm-6 mx-auto">
  <div class="card-body">
    <h3 class="text-center mt-1 mb-4 text-dark">投票完了</h3>
    <p>あなたの投票</p>
    <div>
      <% [3, 2, 1, -1, -2].each do |point| %>
        <h3 class="text-center bg-secondary"><%= "#{point}点" %></h3>
        <% if @votes.where(vote_point: point).present? %>
          <% @votes.where(vote_point: point).each do |vote| %>
            <p class="mx-2 mb-2"><%= vote.oogiri.content %></p>
          <% end %>
        <% else %>
          <p class="text-center mb-2 text-muted mb-4"></p>
        <% end %>
      <% end %>
    </div>
    <div class="justify-content-center d-flex text-center">
      <%= link_to "投票ページ", new_vote_path, class: "border w-40 mt-2 btn btn-sm btn-light" %>
      <%= link_to "TOPページ", root_path, class: "border ml-3 w-40 mt-2 btn btn-sm btn-light" %>
    </div>
  </div>
</div>