<div class="my-2 col-sm-6 mx-auto">
  <div class="card-body border shadow">
    <div class="text-center mb-2 text-dark">投票完了</div>
    <hr class="mt-2 mb-4 w-25">
    <% [3, 2, 1, 0, -2].each do |point| %>
      <div class="text-center table-dark"><%= "#{point}点" %></div>
      <% if @votes.where(vote_point: point).present? %>
        <% @votes.where(vote_point: point).each do |vote| %>
          <div class="text-muted my-1"><%= link_to vote.oogiri.content, field_oogiri_path(vote.field, vote.oogiri), class: "text-muted", target: :_blank, rel: "noopener noreferrer" %></div>
          <hr class="mt-0 mb-1">
        <% end %>
      <% else %>
        <p class="text-center text-muted mb-4"></p>
      <% end %>
    <% end %>
    <div class="justify-content-center d-flex text-center">
      <%= link_to "投票ページ", new_field_vote_path(@field.id), class: "border w-40 mt-2 btn btn-sm btn-light text-nowrap" %>
      <%= link_to "現在のお題", fields_now_field_path, class: "border ml-3 w-40 mt-2 btn btn-sm btn-light text-nowrap" %>
    </div>
  </div>
</div>